<div class="osusume-background">
    <div class="osusume-text-overlay">
        <h1>おすすめワイン</h1>
    </div>
</div>

<div class="osusume">
    <br><h1>おすすめ白ワイン</h1>
    <ul>
    <li>ポジオ・ランゲ・シャルドネ
    <br>原産：イタリア
    <br>値段：1,000円
    <br>味：ソフトフルーティー
    <br><%= image_tag 'vin2.jpg', size: '200x200' %>
    </li>
    <li>グレカンテ グレケット コッリ マルター二
    <br>原産：イタリア
    <br>値段：2,100円
    <br>味：まろやか濃厚 
    <br><%= image_tag 'vin9-1.jpg', size: '200x200' %>
    </li>
    <li>ソミュール・ブラン
    <br>原産：フランス
    <br>値段：1,300円
    <br>味：コク辛口
    <br><%= image_tag 'vin10.jpg', size: '200x200' %>
    </li></ul>

    <ul>
    <li>ボートシェット ベイ マールボロ ソーヴィニヨン・ブラン
    <br>原産：ニュージーランド
    <br>値段：2,445円
    <br>味：キリッとシャープ
    <br><%= image_tag 'vin7.jpg', size: '200x200' %>
    </li>
    <li>ギネオ ヴェルメンティーノ
    <br>原産：イタリア
    <br>値段：1,800円
    <br>味：まろやか濃厚
    <br><%= image_tag 'vin3-1.jog.jpg', size: '200x200' %>
    </li>
    </ul>

    <br><h1>おすすめ赤ワイン</h1>
    <ul>
    <li>ベンド・カベルネ・ソーヴィニョン
    <br>原産：カリフォルニア
    <br>値段：980円
    <br>味：深い旨味
    <br><%= image_tag 'vin1-1.jpg', size: '200x200' %>
    </li>
    <li>ヴァイン・イン・フレイム
    <br>原産：ルーマニア
    <br>値段：1,600円
    <br>味：華やかエレガント
    <br><%= image_tag 'vin5.jpg', size: '200x200' %>
    </li>
    <li>オールド・ヴァイン・ジンファンデル
    <br>原産：カリフォルニア
    <br>値段：1,500円
    <br>味：まろやか濃厚
    <br><%= image_tag 'vin8.jpg', size: '200x200' %>
    </li>
    </ul>

    <ul>
    <li>ドメーヌ・ダンデソン・コート・デュ・ローヌ・ヴェエイユ・ヴィーニュ
    <br>原産：フランス
    <br>値段：1,600円
    <br>味：がっしり渋み
    <br><%= image_tag 'vin4.jpg', size: '200x200' %>
    </li>
    <li>チャオ プリミティーヴォ メルロー（赤）
    <br>原産：イタリア
    <br>値段：1,000円(カルディで買える！)
    <br>味：深い旨味
    <br><%= image_tag 'vin12.jpg', size: '200x200' %>
    </li></ul>
</div>