  <div class="maintop-img">
  </div>
  <div class="top">
  </div>

  <div class="abouttop">
    <%= link_to shindans_index1_path do %>
    <%= image_tag 'wine5.jpg', class:"logo-image1" %>
    <% end %>
    </div>

  <div class="winetop-block">
  <%= link_to shindans_index3_path do %>
    <%= image_tag 'wine8.jpg', class:"logo-image1" %>
    <% end %>
  </div>

  <div class="firsttop-block">
  <%= link_to shindans_path do %>
    <%= image_tag 'wine4.jpg', class:"logo-image1" %>
    <% end %>
  </div> 

  <div class="secondtop-block">
  <%= link_to shindans_index2_path do %>
    <%= image_tag 'wine7.jpg', class:"logo-image1" %>
    <% end %>
  </div>